@model IEnumerable<TredaFront.Models.ForStore>

@{
    ViewBag.Title = "Index";
}

<br />
<br />

<form method="post">
    <div class="form-group row">
        <div class="col-md-3">
            <input class="form-control" name="id" placeholder="Search for products by id..." />
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>

<br />

@if (Model != null)
{
    <table class="table table-sm table-striped table-bordered m-2">
        <thead><tr><th>SKU</th><th>Product Name</th><th>Value</th><th>Base 64 Imagen</th></tr></thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelitem => item.SKU)</td>
                    <td>@Html.DisplayFor(modelitem => item.ProductName)</td>
                    <td>@Html.DisplayFor(modelitem => item.Value)</td>
                    <td>@Html.DisplayFor(modelitem => item.Base64Imagen)</td>
                    <td>
                        @Html.ActionLink("Edit Product", "Edit", "Products", new { id = item.SKU }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
